.dropdownWrapper{
width: 100px;
height: 200px;
margin: 0;

display: flex;
flex-direction:column;
}

.todolist_filter-btn{

width: 100px;
height:38px;

border-radius: 5px;
background-color:rgba(108, 99, 255, 1);
display: flex;
justify-content: space-between;
align-items: center;
color: rgba(247, 247, 247, 1);

font-family: "Kanit", sans-serif;
font-size: 13px;
font-weight: 500;
line-height: 18px;
text-align: left;
border:  2px solid rgba(108, 99, 255, 1);
cursor: pointer;

}

.todolist_filter-btn_open{
box-sizing: border-box;
width: 100px;
height:38px;

border-radius: 5px;
background-color:rgba(88, 80, 221, 1);
display: flex;
justify-content: space-between;
align-items: center;
color: rgba(247, 247, 247, 1);
border: 2px solid rgba(108, 99, 255, 1);
font-family: "Kanit", sans-serif;
font-size: 13px;
font-weight: 500;
line-height: 18px;
text-align: left;

cursor: pointer;


}

.todolist_filter-btn:hover{
    background-color: rgba(88, 80, 221, 1);
}

.todolist_filterdropdown{
width: 95px;
height: 84px;

box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
border: 1px solid rgba(108, 99, 255, 1);
background-color: white;
z-index: 1000;
display: flex;
flex-direction: column;
align-items: center;

cursor: pointer;
transition: opacity 200ms ease-in-out;
}

.option {

box-sizing: border-box;
width: 95px;
height: 24px;
padding: 8.4px 6px 8.4px 6px;
font-family: "Kanit", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: left;

background-color: transparent;
color: #6C63FF;
display: flex;
align-items: center;


}

.option:hover{
    
    background-color: #C3C1E5;

}


