.todolist{
width: 1400px;
height: 710px;
top: -241px;
left: 1588px;
padding: 0px 325px 0px 325px;
gap: 0px;
opacity: 0px;
background-color: #F7F7F7;

}
.todolist_nightMode{
width: 1400px;
height: 710px;
top: -241px;
left: 1588px;
padding: 0px 325px 0px 325px;
gap: 0px;
opacity: 0px;
background-color:#252525B2;
}

.todolist_container{
width: 750px;
height: 710px;
left: 325px;
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: column;
align-items: center;
display: flex;
flex-direction: column;
align-items: center;

}

.todolist_body{
    width: 750px;
        height: 575px;
        top: 135px;
        gap: 0px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}
.todolist_body:hover{
    cursor: url("../assets/handcursor.svg"),auto;
}

.todolist_h1{
    width: 122px;
    height: 39px;
   
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 38.87px;
    text-align: left;
}

.todolist_head{ 
    width: 750px;
    height: 135px;
    padding: 40px 0px 0px 0px;
    gap: 18px;    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.todolist_header{  
width: 750px;
height: 38px;
gap: 16px;
opacity: 0px;
display: flex;
box-sizing: border-box;
}

.todolist_searchBar{
  box-sizing: border-box;
width: 595px;
height: 38px;
padding: 8px 16px 8px 16px;
gap: 436px;
border-radius: 5px;
border: 1px solid #6C63FF;
opacity: 0px;
display: flex;
background-color: transparent;


}
.todolist_searchBar-vector{
width: 21px;
height: 21px;
gap: 0px;
opacity: 0px;
color: #6C63FF;

}
.todolist_searchBar-input{
width: 106px;
height: 16px;
gap: 0px;
opacity: 0px;
border: none;
outline: none; 
background-color: transparent;

font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;
color: #C3C1E5;
}

.todolist_searchBar-input::placeholder{
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;
color: #C3C1E5;
}

.todolist_select-btn{
    width: 93px;
        height: 38px;
        padding: 10px ;
        gap: 10px;
        border-radius: 5px;
        background-color: #5850DD;
        font-family: "Kanit", sans-serif;
            font-weight: 400;
            line-height: 18px;
            text-align: left;
            color: #F7F7F7;
      outline: none;
}
.option{
    width: 81px;
        height:67.2px;
        gap: 8px;
        background-color: #F7F7F7;
        color: #6C63FF;
        border: 1px solid #6C63FF;
        border-radius: 5%;
       
}
.todolist_select-btn option:hover{
    color: #6C63FF;
    background-color: #C3C1E5;

}
.todolist_actionBtn{
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-color:#6C63FF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.todolist_actionBtn:hover {
    background-color: #534CC2;
    cursor: url("../assets/handcursor.svg"),auto;

}


.todoItem_deleteBtn{
    width: 18px;
    height: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.todoItem_deleteBtn-img:hover{
 cursor: url("../assets/handcursor.svg"),auto;
}

.todoItem_editBtn{
    width: 18px;
    height: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoItem_editBtn:hover {
    cursor: url("../assets/handcursor.svg"),auto;
} 
 
.todoItem{
    width: 525px;
    height: 26px;
    border-top:1px solid #5850DD;
    padding-top: 15px;
   
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.todoItem:first-child{
    border-top: none;
}

.todolist_empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: left;
}

.todoItem_title{
width: 420px;
height: 20px;
margin-left: 15px;
margin-top: 2px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
}


.todoItem_titleChecked{
width: 420px;
height: 20px;
margin-left: 15px;
margin-top: 2px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
    color: #25252580;
    text-decoration:underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
}

.todoItem_label{
   display: inline-block;
   position: relative;  
}



.todoItem_label:hover{
    cursor: url("../assets/handcursor.svg"),auto;
}

.todoItem_buttons{
    display: flex;
    
}


.todoItem_checkbox{
position: absolute;
height: 0;
width: 0;
}

.checkmark{
position: absolute;
width: 26px;
height: 26px;

border-radius: 2px;
border-color: #6C63FF;
background-color: transparent;
outline: 1px solid #6C63FF;

}

.todoItem_label .todoItem_checkbox:checked ~ .checkmark{
    background-color: #6C63FF;
    background-image: url("../assets/tick.svg");
    background-repeat: no-repeat ;
    background-position: center;
   
} 

.todoItem_checkbox:hover{
    cursor: url("../assets/handcursor.svg"),auto;
}

.todo_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
