
.todolist{
    box-sizing: border-box;
    width: 1046px;
    height: 961px;
    top: 94px;
    gap: 0px;
    opacity: 0px;
box-shadow: rgba(0, 0, 0, 0.33);    
background-color: #F7F7F7;
display: flex;
justify-content: center;
align-items: center;

}

.light-mode-cursor{
    cursor: url("../assets/handcursor.svg"),auto;
}

.todolist_nightMode{
    width: 1040px;
    height: 956px;
    left: 134px;
    gap: 0px;
    opacity: 0px;
background-color: rgba(37, 37, 37, 1);
display: flex;
justify-content: center;
align-items: center;
}

.night-mode-cursor{
    cursor: url("../assets/handcursorwhite.svg"),auto;
}

.todolist_container{
width: 750px;
height: 710px;
left: 325px;
gap: 0px;
opacity: 0px;
display: flex;
flex-direction: column;
align-items: center;
display: flex;
flex-direction: column;
align-items: center;

}




.todolist_body{
    width: 750px;
        height: 575px;
        top: 135px;
        gap: 0px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}

.todolist_body_nightMode{
    width: 750px;
        height: 575px;
        top: 135px;
        gap: 0px;
        opacity: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}



.todolist_h1{
    width: 122px;
    height: 39px;
   
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 38.87px;
    text-align: left;
}
.todolist_h1_nightMode{
    width: 122px;
    height: 39px;
   
    font-family: "Kanit", sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 38.87px;
    text-align: left;
    color: rgba(247, 247, 247, 1);
}

.todolist_head{ 
    width: 750px;
    height: 135px;
    padding: 40px 0px 0px 0px;
    gap: 18px;    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.todolist_header{  
width: 750px;
height: 38px;
gap: 16px;
opacity: 0px;
display: flex;
box-sizing: border-box;
}

.todolist_searchBar{
 box-sizing: border-box;
width: 595px;
height: 38px;
padding: 8px 16px 8px 16px;
gap: 436px;
border-radius: 5px;
border: 1px solid rgba(108, 99, 255, 1);
opacity: 0px;
display: flex;
background-color: transparent;
}

.todolist_searchBar_nightMode{
    box-sizing: border-box;
    width: 595px;
    height: 38px;
    padding: 8px 16px 8px 16px;
    gap: 436px;
    border-radius: 5px;
    border: 1px solid #F7F7F7;
    opacity: 0px;
    display: flex;
    background-color: transparent;

}


.todolist_searchBar-input{
width: 106px;
height: 16px;
border: none;
outline: none; 
background-color: transparent;

font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;
color:rgba(195, 193, 229, 1);
}

.todolist_searchBar-input_nightMode{
width: 106px;
height: 16px;
gap: 0px;
opacity: 0px;
border: none;
outline: none; 
background-color: transparent;

font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;
color: #666666;
}

.todolist_searchBar-input::placeholder{
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;
color:rgba(195, 193, 229, 1);
}

.todolist_searchBar-input_nightMode::placeholder{
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 16px;
text-align: left;
color: #666666;
}

.todolist_actionBtn{
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-color:#6C63FF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("../assets/handcursor.svg"),auto;
}
.todolist_actionBtn_nightMode{
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background-color:#6C63FF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("../assets/handcursorwhite.svg"),auto;
}
.todolist_actionBtn:hover {
    background-color: #534CC2;
    
   
}

.todolist_actionBtn_nightMode:hover {
    background-color: #534CC2;
    
}

.todoItem_buttons{
position: relative;
width:62px;
height: 18px;
gap: 10px;
display: none;
cursor: url("..assets/handcursor.svg"), auto;
}




.todoItem_deleteBtn{
    width: 25px;
    height: 25px;
    border:none;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.todoItem:hover .todoItem_buttons{
    display: flex;
    justify-content: center;
}



.todoItem_editBtn{
    margin-top: 3px;
    width: 20px;
    height: 19px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.todoItem{
    width: 525px;
    height: 26px;
    border-top:1px solid #5850DD;
    padding-top: 15px;
    display: flex;
    gap: 20px;

z-index: 1;


}

.todoItem:first-child{
    border-top: none;
}

.todolist_empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: left;
}

.todolist_empty_nightMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: left;
    color: rgba(247, 247, 247, 1);
}

.todoItem_title{

width: 420px;
height: 20px;
margin-left: 15px;
margin-top: 2px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
color:black;


}

.todoItem_title_nightMode{
width: 420px;
height: 20px;
margin-left: 15px;
margin-top: 2px;

font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: #F7F7F7;
}

.todoItem_titleChecked{
width: 420px;
height: 20px;
margin-left: 15px;
margin-top: 2px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
    color: #25252580;
    text-decoration:underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
}

.todoItem_titleChecked_nightMode{
width: 420px;
height: 20px;
margin-left: 15px;
margin-top: 2px;
font-family: "Kanit", sans-serif;
font-size: 20px;
font-weight: 500;
line-height: 20px;
text-align: left;
    color:#FFFFFF80;
    text-decoration:underline;
    text-underline-offset: -40%;
    text-decoration-skip-ink: none;
}

.todoItem_label{
    display: flex;
  justify-content: space-between;
}
.todoItem_label:hover{
    cursor: url("../assets/handcursor.svg"),auto;
}








.todoItem_checkbox{
position: absolute;
height: 0;
width: 0;
}
.todoItem_checkbox_nightMode{
position: absolute;
height: 0;
width: 0;
}

.checkmark{
position: absolute;
width: 26px;
height: 26px;

border-radius: 2px;
border-color: #6C63FF;
background-color: transparent;
outline: 1px solid #6C63FF;
}
.checkmark_nightMode{
position: absolute;
width: 26px;
height: 26px;

border-radius: 2px;
border-color: #6C63FF;
background-color: transparent;
outline: 1px solid #6C63FF;
}

.todoItem_label .todoItem_checkbox:checked ~ .checkmark{
   
    background-color: #6C63FF;
    background-image: url("../assets/tick.svg");
    background-repeat: no-repeat ;
    background-position:center;
} 
.todoItem_label .todoItem_checkbox_nightMode:checked ~ .checkmark_nightMode{
   
    background-color: #6C63FF;
    background-image: url("../assets/tick.svg");
    background-repeat: no-repeat ;
    background-position:center;
} 


.todo_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
