body{
    margin:0;
    padding: 0;
    
} 


.container{ 
   margin: auto;
    max-width: 1664px;
    height: 1386px;
    background-color:#92B7FF; 
display: flex;
justify-content: center;
align-items: center;
z-index: 0;
}

@media (max-width:900px){
    .container{
    width: 90%;
       height: auto;
    }
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        height: auto;
        flex-direction: column; 
    }
}



